.iconpicker-popover.popover{
	top:30px;
	
}
.wp-media-buttons .phoen-iconpicker.phoefontawesome-iconpicker{
	position:relative;
} 
.phoen-widget-general-tab .iconpicker-popover.popover{ left:16px!important;}




 .iconpicker-popover {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

 .iconpicker-popover .arrow {
	display: none !important;
}

 .iconpicker-item {
	/* Override some unfortunate WP default admin mobile styles */
	width: 14px !important;
	height: 14px !important;
	padding: 14px !important;
	font-size: 14px !important;
	line-height: 1 !important;
	box-shadow: 0 0 0 1px #ddd !important;
}

/* .iconpicker input[type="search"] {
	width: 100%;
} */

 .iconpicker-popover.popover {
	width: 253px;
}

.iconpicker-component i {
	display: none;
}
